@import "tailwindcss";

@theme {
  --color-primary: #50b44b;
  --color-primary-hover: #44983f;
  
  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);

  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

:root {
  --main: #50b44b;
  --secondary: #fafafa;
  --background: #ffffff;
  --border: #b9b9b9;
  --text-main: #1d1e29;
  --text-muted: #8D99AE;
  
  --warning: #f8b643; 
  --warning-hover: #e9973f;
}

.dark {
  --main: #50b44b;
  --secondary: hsl(240, 18%, 12%);
  --background: hsl(233, 22%, 14%);
  --border: rgb(37, 39, 53);
  --text-main: #EDF2F4;
  --text-muted: #8D99AE;

  --warning: #fbbf24;
  --warning-hover: #f59e0b;
}