@import "tailwindcss";

@theme {
  --color-primary: #50b44b;
  --color-primary-hover: #44983f;

  --color-main: var(--main);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-background: var(--background);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

:root {
  --main: #50b44b;
  --secondary: #fafafa;
  --secondary-light: #dbf5ff;
  --background: #ffffff;
  --text-main: #2B2D42;
  --text-muted: #8D99AE;
}

.dark {
  --main: #50b44b;
  --secondary: hsl(233, 22%, 16%);
  --secondary-light: #2b2d42;
  --background: #1e202f;
  --text-main: #EDF2F4;
  --text-muted: #8D99AE;
}