@import "tailwindcss";

@theme {

  --color-primary: #50b44b;
  --color-primary-hover: #44983f

  --color-secondary: #2B2D42;
  --color-secondary-light: #3d405b;

  --color-background: #EDF2F4;

  --color-text-main: #2B2D42;
  --color-text-muted: #8D99AE;
  --color-text-inverted: #EDF2F4;
}